.introduction-title {
    text-align: center;
    font-size: 3.2rem;
    padding-bottom: 56px;
}

.introduction-hidden {
    position: relative;
}

.introduction-icon {
    font-size: 48px;
    position: absolute;
    left: 4%;
    display: none;
    cursor: pointer;
}

.introduction-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 56px;
}

.introduction-btn {
    background-color: var(--primary-Buttery-White-color);
}

.introduction-container {
    width: 50%;
    margin-bottom: 56px;
    display: flex;
    margin-left: auto;
    margin-right: 2%;
    border-radius: 12px;
    min-height: 586px;
    display: none;
}

.introduction-container.active {
    display: flex;
}

.introduction-board {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.introduction-board__title {
    font-size: 3.6rem;
}

.introduction-script {
    width: 50%;
    text-align: justify;
    font-size: 1.6rem;
}

.board-btn {
    padding: 12px 12px;
    margin: 24px;
    cursor: pointer;
}
