.login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.login-container {
    background-color: #fff;
    width: 650px;
    min-height: 542px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 50px;
}

.login-header {
    text-align: end;
}

.login-icon {
    font-size: 5.6rem;
    padding: 10px 16px;
    color: var(--text-color);
    cursor: pointer;
}

.login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 542px;
}

.login-title {
    text-align: center;
    font-size: 4.2rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    margin-bottom: 24px;
}

.login-body {
    text-align: -webkit-center;
    padding: 16px 0 0;
    width: 55%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #52525C;
    margin-bottom: 8px;
}

.login-input {
    /* Text field */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;

    width: 360px;
    height: 48px;

    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
}

.login-forgot {
    margin-top: 15px;
    text-align: center;
}

.login-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #021E66;
}

.login-button, .logout-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    text-align: center;

    width: 98px;
    height: 46px;

    border: none;

    /* branding/02 */

    background: #FF7F75;
    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    border-radius: 4px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */


    color: #FFFFFF;
    cursor: pointer;;

}

.logout-button {
    display: none;
}

.btn {
    cursor: pointer;
}

.login-error {
    display: none;
    color: var(--primary-Brink-Pink-color);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    margin-top: 5px
}

.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    border-radius: 6px;
    padding: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 130%;
    left: -230%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip-logout {
    background: #FF7F75;
    border-radius: 5px;
    color: #242424;
    padding: 10px 30px 10px 30px
}

.tooltip-settings {
    background: #021E66;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px 10px 30px
}